

@{
    ViewBag.Title = "SearchEmployee";
}
<style>
    .col-10 {
        width: 10%;
    }

    .col-20 {
        width: 20%;
    }

    .col-30 {
        width: 30%;
    }

    .col-50 {
        width: 50%;
    }
</style>
<h2>SearchEmployee</h2>

<div>
    <table class="table">
        <tr>
            <th class="col-10">Id</th>
            <th class="col-30">Name</th>
            <th class="col-30">Hire Date</th>
            <th class="col-20">Salary</th>
        </tr>
        @foreach (var employee in @Model)
        {
            <tr>
                <th class="col-10">@employee.EmpID</th>
                <th class="col-30">@employee.EmpName</th>
                <th class="col-30">@employee.HireDate</th>
                <th class="col-20">@employee.Salary</th>
            </tr>
        }
    </table>
</div>