@model WelcomeApp.Models.ViewModel.LoginVM

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    <label>UserName</label>@Html.TextBoxFor(u => u.Name);
    <label>Password</label>@Html.TextBoxFor(u => u.Password, new { @class = "form-control", placeholder = "Password" });

    <input type="submit"  value="Login"/>
    <label>Status :</label>@Model.Status
}

